<!-- Navbar default w/ the 3 options -->
<!-- Left side move = user move / right side pic = comp move  -->
<!-- bottom part is the result -->
<!-- Connect to Bootstrap CSS -->

<head>
  <title>RockPaperScissors</title>

  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

  <!-- Connect to Font Awesome CSS -->
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

</head>
<body>

  <div class="container">
    <div class="row">

      <hr>
      <div class="col-sm-offset-2 col-sm-8">

        <div class="btn-group btn-group-justified" role="group" aria-label="...">
          <div class="btn-group" role="group">
            <a href="/play/rock" class="btn btn-primary">Play Rock</a>
          </div>
          <div class="btn-group" role="group">
          <a href="/play/paper" class="btn btn-info">Play Paper</a>
          </div>
          <div class="btn-group" role="group">
          <a href="/play/scissors" class="btn btn-primary">Play Scissors</a>
          </div>
        </div>

      </div>
    </div>

    <hr>

    <div class="row">
      <div class="col-sm-offset-2 col-sm-4">

        <div class="panel panel-success">
          <div class="panel-heading">
            <h3 class="panel-title"> <%= @user_move.capitalize %> </h3>
          </div>
          <div class="panel-body">
            <!-- <img class="img-responsive" src="/assets/images/scissors.png"> -->
              <img class="img-responsive" src="<%= @user_picture %>">
          </div>
        </div>

      </div>
      <div class="col-sm-offset-0 col-sm-4">

        <div class="panel panel-danger">
          <div class="panel-heading">
            <h3 class="panel-title"> <%= @computer_move.capitalize %> </h3>
          </div>
          <div class="panel-body">
              <img class="img-responsive" src="<%= @comp_picture %>">
          </div>
        </div>

      </div>
    </div>
    <div class="row text-center">
      <div class="col-sm-offset-2 col-sm-8">
        <hr>

        <!-- COMMENT - by has to change colors - 3 different views? or build an if statement right into html - can i do that? -->

        <h1>
          <span class="label label-warning" type="text-center"> You <%= @result %>!</span>
        </h1>
        <hr>
      </div>
    </div>
  </div>

</body>
