<!DOCTYPE html>
<html>
<head>
  <title>RockPaperScissors</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.css">
</head>
<body>
<%= yield %>

<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2 col-xs-12">
      <div class="btn-group btn-group-justified">
        <a href="/play/rock" class="btn btn-block btn-primary">
          Play Rock
        </a>

        <a href="/play/paper" class="btn btn-block btn-primary">
          Play Paper
        </a>

        <a href="/play/scissors" class="btn btn-block btn-primary">
          Play Scissors
        </a>
      </div>
    </div>
  </div>

  <div class="row">
  <div class="col-md-4 col-md-offset-2 col-xs-6">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h2 class="panel-title text-center">
          <%= @user_move %>
        </h2>
      </div>
      <div class="panel-body">
        <img class="img-responsive" src="<%= @user_path %>">
      </div>
    </div>
  </div>

  <div class="col-md-4 col-xs-6">
    <div class="panel panel-danger">
      <div class="panel-heading">
        <h2 class="panel-title text-center">
          <%= @computer_move %>
        </h2>
      </div>
      <div class="panel-body">
        <img class="img-responsive" src="<%= @computer_path %>">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8 col-md-offset-2 col-xs-12 text-center">
      <button class="btn btn-default">
        You <%= @result %>!
      </button>
    </div>
  </div>

</div>

</body>
</html>
